<h2><%= @invoice.title %></h2>
<hr/>
<h3 class="text-muted">Client: <%= @invoice.user.try(:email) %></h3>
<h4>Due: <%= @invoice.due_date %></h4>
<hr/>
<h4>Work Completed:</h4>
<%= simple_format @invoice.work_items %>