<h1><%= @user.email %></h1>

<p>Admin: <strong><%= @user.admin %></strong></p>

<h3>Invoices:</h3>
<% if @user.invoices.any? %>
	<ul>
	<% @user.invoices.each do |i| %>
		<li><%= link_to i.title, invoice_path(i.id) %></li>
	<% end %>
	</ul>
<% else %>
	<p><em>No invoices yet!</em></p>
<% end %>
<%= link_to "Back to Admin", admin_root_path, class: "btn btn-default" %>
